.contatos{
    height: 99vh;
    overflow: auto;    
}

.mensagens{
    height: 82vh;
    overflow: auto;
}

.mensagem{
    margin-top: 5px;
    margin-bottom: 5px;
}

.mensagemEnviada{
    
}

.mensagemRecebida{
    
}

.span-msg{
    padding: 10px;
}

.div-enviar-mensagem{
    margin-top: 20px;
}

#iMensagemEnviar{
    border: 2px solid #0d6efd;
    resize: none;
}