.contatos{
    height: 99vh;
    overflow: auto;    
}

.mensagens{
    height: 99vh;
    overflow: auto;
}

.mensagem{
    margin-top: 5px;
    margin-bottom: 5px;
}

.mensagemEnviada{
    
}

.mensagemRecebida{
    
}

.span-msg{
    padding: 10px;
}